<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>

<body style="background-color: #191616;">
    <script src="https://unpkg.com/flowbite@1.4.0/dist/flowbite.js"></script>
    <!--INICIO-->
    <header class="bg-white">
        <div class="mx-auto flex h-20 max-w-screen-xl items-center gap-8 px-4 sm:px-6 lg:px-8">
            <a class="block text-teal-600 mt-2" href="#">
                <span class="sr-only">Home</span>
                <img class="mt-8"
                    src="https://firebasestorage.googleapis.com/v0/b/pruebaxd-571b0.appspot.com/o/logo.png?alt=media&token=5f8de674-73e1-41f4-8560-43c076dec434"
                    width="30" height="24">
                <a class="mt-10">AutoSport</a>
            </a>

            <div class="flex flex-1 items-center justify-end md:justify-between">
                <div class="relative mt-3">
                    <nav aria-label="Global" class="hidden md:block" id="navbar-default">
                        <div class="relative mt-7">
                            <ul
                                class="font-medium flex flex-col p-4 md:p-0 mt-10 border border-gray-100 rounded-lg bg-gray-50 md:flex-row md:space-x-8 rtl:space-x-reverse md:mt-0 md:border-0 md:bg-white dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700 ">
                                <li>

                                    <a class="text-gray-500 transition hover:text-gray-500/75"
                                        href="https://jeinermenxd.github.io/practicax_h1/index.html"> Inicio </a>
                                </li>

                                <li>

                                    <a class="text-gray-500 transition hover:text-gray-500/75"
                                        href="https://jeinermenxd.github.io/practicax_h1/src/components/productos.html">
                                        Productos </a>
                                </li>

                                <li>

                                    <a class="text-gray-500 transition hover:text-gray-500/75"
                                        href="https://jeinermenxd.github.io/practicax_h1/src/components/Reseñas.html">Reseñas</a>
                                </li>

                                <li>

                                    <a class="text-gray-500 transition hover:text-gray-500/75"
                                        href="https://jeinermenxd.github.io/practicax_h1/src/components/ubicacion.html">
                                        Ubicacion </a>
                                </li>

                                <li>

                                    <a class="text-gray-500 transition hover:text-gray-500/75"
                                        href="https://jeinermenxd.github.io/practicax_h1/src/components/nosotros.html">
                                        Nosotros </a>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
                <div class="flex items-center gap-4 ml-2">
                    <!-- Añadido ml-2 para un pequeño margen a la izquierda del botón -->
                    <button data-collapse-toggle="navbar-default" type="button"
                        class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
                        aria-controls="navbar-default" aria-expanded="false">
                        <span class="sr-only">Open main menu</span>
                        <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                            viewBox="0 0 17 14">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M1 1h15M1 7h15M1 13h15" />
                        </svg>
                    </button>
                </div>
            </div>
            <div class="sm:flex sm:gap-4">
                <a class="hidden rounded-md bg-gray-100 px-5 py-2.5 text-sm font-medium text-teal-600 transition hover:text-teal-600/75 sm:block"
                    href="#">
                    Login
                </a>
                <a class="hidden rounded-md bg-gray-100 px-5 py-2.5 text-sm font-medium text-teal-600 transition hover:text-teal-600/75 sm:block"
                    href="#">
                    Registrarse
                </a>
            </div>
        </div>
    </header>
    <br>
    <br>
    <!--INICIO-->
    <article class="overflow-hidden rounded-lg shadow transition hover:shadow-lg mx-auto max-w-sm">
        <div class="bg-white p-4 sm:p-6">
            <a href="#">
                <h3 class="mt-0.5 text-lg text-gray-900 text-center">Forros de Asientos</h3>
            </a>
        </div>
    </article>

    <!-- ====== Cards Section Start -->
    <section class="bg-gray-2 dark:bg-dark pt-20 pb-10 lg:pt-[120px] lg:pb-20">
        <div class="container mx-auto">
            <div class="flex flex-wrap -mx-4">
                <div class="w-full px-4 md:w-1/2 xl:w-1/3">
                    <div
                        class="mb-10 overflow-hidden duration-300 bg-white rounded-lg dark:bg-dark-2 shadow-1 hover:shadow-3 dark:shadow-card dark:hover:shadow-3">
                        <img src="https://firebasestorage.googleapis.com/v0/b/pruebaxd-571b0.appspot.com/o/producto3.jpeg?alt=media&token=d683a75f-9eb3-42c8-b758-007af610df25"
                            alt="image" class="w-full" />
                        <div class="p-8 text-center sm:p-9 md:p-7 xl:p-9">
                            <h3>
                                <a href="javascript:void(0)"
                                    class="text-dark dark:text-white hover:text-primary mb-4 block text-xl font-semibold sm:text-[22px] md:text-xl lg:text-[22px] xl:text-xl 2xl:text-[22px]">
                                    Forro Doble
                                </a>
                            </h3>
                            <p class="text-base leading-relaxed text-body-color dark:text-dark-6 mb-7">
                                Cocido en los bordes y mayor resistencia.
                            </p>
                            <a href="javascript:void(0)"
                                class="inline-block py-2 text-base font-medium transition border rounded-full text-body-color hover:border-primary hover:bg-primary border-gray-3 px-7 hover:text-white dark:border-dark-3 dark:text-dark-6">
                                View Details
                            </a>
                        </div>
                    </div>
                </div>
                <div class="w-full px-4 md:w-1/2 xl:w-1/3">
                    <div
                        class="mb-10 overflow-hidden duration-300 bg-white rounded-lg dark:bg-dark-2 shadow-1 hover:shadow-3 dark:shadow-card dark:hover:shadow-3">
                        <img src="https://firebasestorage.googleapis.com/v0/b/pruebaxd-571b0.appspot.com/o/producto1.jpeg?alt=media&token=fe116268-b7fb-4b5b-a02e-7bc01708f8bc"
                            alt="image" class="w-full" />
                        <div class="p-8 text-center sm:p-9 md:p-7 xl:p-9">
                            <h3>
                                <a href="javascript:void(0)"
                                    class="text-dark dark:text-white hover:text-primary mb-4 block text-xl font-semibold sm:text-[22px] md:text-xl lg:text-[22px] xl:text-xl 2xl:text-[22px]">
                                    Forro Triple
                                </a>
                            </h3>
                            <p class="text-base leading-relaxed text-body-color mb-7">
                                on mas Relleno para comodidad del cliente.
                            </p>
                            <a href="javascript:void(0)"
                                class="inline-block py-2 text-base font-medium transition border rounded-full text-body-color hover:border-primary hover:bg-primary border-gray-3 px-7 hover:text-white dark:border-dark-3 dark:text-dark-6">
                                View Details
                            </a>
                        </div>
                    </div>
                </div>
                <div class="w-full px-4 md:w-1/2 xl:w-1/3">
                    <div
                        class="mb-10 overflow-hidden duration-300 bg-white rounded-lg dark:bg-dark-2 shadow-1 hover:shadow-3 dark:shadow-card dark:hover:shadow-3">
                        <img src="https://firebasestorage.googleapis.com/v0/b/pruebaxd-571b0.appspot.com/o/producto2.jpeg?alt=media&token=87414778-af62-4d97-b28a-90b56518d420"
                            alt="image" class="w-full" />
                        <div class="p-8 text-center sm:p-9 md:p-7 xl:p-9">
                            <h3>
                                <a href="javascript:void(0)"
                                    class="text-dark dark:text-white hover:text-primary mb-4 block text-xl font-semibold sm:text-[22px] md:text-xl lg:text-[22px] xl:text-xl 2xl:text-[22px]">
                                    Costura doble
                                </a>
                            </h3>
                            <p class="text-base leading-relaxed text-body-color mb-7">
                                Mas suave y con costuras en los lados.
                            </p>
                            <a href="javascript:void(0)"
                                class="inline-block py-2 text-base font-medium transition border rounded-full text-body-color hover:border-primary hover:bg-primary border-gray-3 px-7 hover:text-white dark:border-dark-3 dark:text-dark-6">
                                View Details
                            </a>
                        </div>
                    </div>
                </div>
                <div class="w-full px-4 md:w-1/2 xl:w-1/3">
                    <div
                        class="mb-10 overflow-hidden duration-300 bg-white rounded-lg dark:bg-dark-2 shadow-1 hover:shadow-3 dark:shadow-card dark:hover:shadow-3">
                        <img src="https://firebasestorage.googleapis.com/v0/b/pruebaxd-571b0.appspot.com/o/producto8.jpeg?alt=media&token=31023234-6bac-4409-a876-dcc2aa79fa7c"
                            alt="image" class="w-full" />
                        <div class="p-8 text-center sm:p-9 md:p-7 xl:p-9">
                            <h3>
                                <a href="javascript:void(0)"
                                    class="text-dark dark:text-white hover:text-primary mb-4 block text-xl font-semibold sm:text-[22px] md:text-xl lg:text-[22px] xl:text-xl 2xl:text-[22px]">
                                    Costura Triple
                                </a>
                            </h3>
                            <p class="text-base leading-relaxed text-body-color mb-7">
                                Mas resistente y mas tenso para mayor tacto y acolchonado.
                            </p>
                            <a href="javascript:void(0)"
                                class="inline-block py-2 text-base font-medium transition border rounded-full text-body-color hover:border-primary hover:bg-primary border-gray-3 px-7 hover:text-white dark:border-dark-3 dark:text-dark-6">
                                View Details
                            </a>
                        </div>
                    </div>
                </div>
                <div class="w-full px-4 md:w-1/2 xl:w-1/3">
                    <div
                        class="mb-10 overflow-hidden duration-300 bg-white rounded-lg dark:bg-dark-2 shadow-1 hover:shadow-3 dark:shadow-card dark:hover:shadow-3">
                        <img src="https://firebasestorage.googleapis.com/v0/b/pruebaxd-571b0.appspot.com/o/producto9.jpeg?alt=media&token=05973d1e-8790-4491-b8e6-4a564bc9feca"
                            alt="image" class="w-full" />
                        <div class="p-8 text-center sm:p-9 md:p-7 xl:p-9">
                            <h3>
                                <a href="javascript:void(0)"
                                    class="text-dark dark:text-white hover:text-primary mb-4 block text-xl font-semibold sm:text-[22px] md:text-xl lg:text-[22px] xl:text-xl 2xl:text-[22px]">
                                    Costura Simple
                                </a>
                            </h3>
                            <p class="text-base leading-relaxed text-body-color mb-7">
                                Forros normal con una Costura simple ajustada a tu vehiculo.
                            </p>
                            <a href="javascript:void(0)"
                                class="inline-block py-2 text-base font-medium transition border rounded-full text-body-color hover:border-primary hover:bg-primary border-gray-3 px-7 hover:text-white dark:border-dark-3 dark:text-dark-6">
                                View Details
                            </a>
                        </div>
                    </div>
                </div>
                <div class="w-full px-4 md:w-1/2 xl:w-1/3">
                    <div
                        class="mb-10 overflow-hidden duration-300 bg-white rounded-lg dark:bg-dark-2 shadow-1 hover:shadow-3 dark:shadow-card dark:hover:shadow-3">
                        <img src="https://firebasestorage.googleapis.com/v0/b/pruebaxd-571b0.appspot.com/o/producto4.jpeg?alt=media&token=443d6d6f-a1da-4156-879b-f797f40d5306"
                            alt="image" class="w-full" />
                        <div class="p-8 text-center sm:p-9 md:p-7 xl:p-9">
                            <h3>
                                <a href="javascript:void(0)"
                                    class="text-dark dark:text-white hover:text-primary mb-4 block text-xl font-semibold sm:text-[22px] md:text-xl lg:text-[22px] xl:text-xl 2xl:text-[22px]">
                                    Costura con Relleno
                                </a>
                            </h3>
                            <p class="text-base leading-relaxed text-body-color mb-7">
                                Mas Comodos y listos para viajes ajetreados.
                            </p>
                            <a href="javascript:void(0)"
                                class="inline-block py-2 text-base font-medium transition border rounded-full text-body-color hover:border-primary hover:bg-primary border-gray-3 px-7 hover:text-white dark:border-dark-3 dark:text-dark-6">
                                View Details
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ====== Cards Section End -->
    <footer class="bg-white rounded-lg shadow m-4 dark:bg-gray-800">
        <div class="w-full h-full flex justify-center items-center">
            <div class="max-w-screen-xl p-4">
                <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400">© 2024 <a href=""
                        class="hover:underline">ForrosAutoSport™</a>. All Rights Reserved.</span>
            </div>
        </div>
    </footer>
</body>

</html>