<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>

<body style="background-color: #191616;">
    <script src="https://unpkg.com/flowbite@1.4.0/dist/flowbite.js"></script>
    <!--INICIO-->
    <header class="bg-white">
        <div class="mx-auto flex h-20 max-w-screen-xl items-center gap-8 px-4 sm:px-6 lg:px-8">
            <a class="block text-teal-600 mt-2" href="#">
                <span class="sr-only">Home</span>
                <img class="mt-8"
                    src="https://firebasestorage.googleapis.com/v0/b/pruebaxd-571b0.appspot.com/o/logo.png?alt=media&token=5f8de674-73e1-41f4-8560-43c076dec434"
                    width="30" height="24">
                    <a class="mt-10"><strong>ForrosAutoSport</strong></a>
            </a>

            <div class="flex flex-1 items-center justify-end md:justify-between">
                <div class="relative mt-3">
                    <nav aria-label="Global" class="hidden md:block" id="navbar-default">
                        <div class="relative mt-7">
                            <ul
                                class="font-medium flex flex-col p-4 md:p-0 mt-10 border border-gray-100 rounded-lg bg-gray-50 md:flex-row md:space-x-8 rtl:space-x-reverse md:mt-0 md:border-0 md:bg-white dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700 ">
                                <li>

                                    <a class="text-gray-500 transition hover:text-gray-500/75"
                                        href="https://jeinermenxd.github.io/practicax_h1/index.html"> Inicio </a>
                                </li>

                                <li>

                                    <a class="text-gray-500 transition hover:text-gray-500/75"
                                        href="https://jeinermenxd.github.io/practicax_h1/src/components/productos.html">
                                        Productos </a>
                                </li>

                                <li>

                                    <a class="text-gray-500 transition hover:text-gray-500/75"
                                        href="https://jeinermenxd.github.io/practicax_h1/src/components/Reseñas.html">Reseñas</a>
                                </li>

                                <li>

                                    <a class="text-gray-500 transition hover:text-gray-500/75"
                                        href="https://jeinermenxd.github.io/practicax_h1/src/components/ubicacion.html">
                                        Ubicacion </a>
                                </li>

                                <li>

                                    <a class="text-gray-500 transition hover:text-gray-500/75"
                                        href="https://jeinermenxd.github.io/practicax_h1/src/components/nosotros.html">
                                        Nosotros </a>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
                <div class="flex items-center gap-4 ml-2">
                    <!-- Añadido ml-2 para un pequeño margen a la izquierda del botón -->
                    <button data-collapse-toggle="navbar-default" type="button"
                        class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
                        aria-controls="navbar-default" aria-expanded="false">
                        <span class="sr-only">Open main menu</span>
                        <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                            viewBox="0 0 17 14">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M1 1h15M1 7h15M1 13h15" />
                        </svg>
                    </button>
                </div>
            </div>
            <div class="sm:flex sm:gap-4">
                <a class="hidden rounded-md bg-gray-100 px-5 py-2.5 text-sm font-medium text-teal-600 transition hover:text-teal-600/75 sm:block"
                    href="https://jeinermenxd.github.io/practicax_h1/src/components/login.html">
                    Login
                </a>
                <a class="hidden rounded-md bg-gray-100 px-5 py-2.5 text-sm font-medium text-teal-600 transition hover:text-teal-600/75 sm:block"
                    href="https://jeinermenxd.github.io/practicax_h1/src/components/register.html">
                    Registrarse
                </a>
            </div>
        </div>
    </header>
    <br>
    <br>
    <!--INICIO-->
    <section class="bg-gray-100">
        <div class="max-w-7xl mx-auto py-16 px-4 sm:px-6 lg:py-20 lg:px-8">
            <div class="max-w-2xl lg:max-w-4xl mx-auto text-center">
                <h2 class="text-3xl font-extrabold text-gray-900">Visitanos ahora</h2>
                <p class="mt-4 text-lg text-gray-500">Somos tu local de confianza y ven pregunta</p>
            </div>
            <div class="mt-16 lg:mt-20">
                <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
                    <div class="rounded-lg overflow-hidden">
                        <iframe
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3983.3189292448083!2d-79.94000338942588!3d-3.2708179966904103!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x90330f17696f7429%3A0x8677b42e73477e28!2sFORROS%20AUTO%20SPORT!5e0!3m2!1sen!2sus!4v1714269353016!5m2!1sen!2sus"
                            width="100%" height="480" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                    </div>
                    <div>
                        <div class="max-w-full mx-auto rounded-lg overflow-hidden">
                            <div class="px-6 py-4">
                                <h3 class="text-lg font-medium text-gray-900">Direccion</h3>
                                <p class="mt-1 text-gray-600">FORROS AUTO SPORT, Haití &, Machala, Ecuador</p>
                            </div>
                            <div class="border-t border-gray-200 px-6 py-4">
                                <h3 class="text-lg font-medium text-gray-900">Horario</h3>
                                <p class="mt-1 text-gray-600">Lunes - Viernes: 8am - 6pm</p>
                                <p class="mt-1 text-gray-600">Sabados: 8am - 2pm</p>
                                <p class="mt-1 text-gray-600">Domingos: Closed</p>
                            </div>
                            <div class="border-t border-gray-200 px-6 py-4">
                                <h3 class="text-lg font-medium text-gray-900">Contactanos</h3>
                                <p class="mt-1 text-gray-600">Email: forrosautosport@outlook.es</p>
                                <p class="mt-1 text-gray-600">Celular: +593 99 894 5316</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>



    <footer class="bg-white rounded-lg shadow m-4 dark:bg-gray-800">
        <div class="w-full h-full flex justify-center items-center">
            <div class="max-w-screen-xl p-4">
                <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400">© 2024 <a href=""
                        class="hover:underline">ForrosAutoSport™</a>. All Rights Reserved.</span>
            </div>
        </div>
    </footer>